%p
  = I18n.t("user_mailer.signed_up_success.subject")
  %br
%p
  = I18n.t("user_mailer.signed_up_success.first_content")
  %br
%p
  = I18n.t("user_mailer.signed_up_success.second_content")
  %br
%p 
  = I18n.t("user_mailer.signed_up_success.end_content")
  %br