button.btn.btn-sm.btn-info.uib-datepicker-current.ng-binding {
  background: #0099FF !important;
}


button.btn.btn-sm.btn-danger.uib-clear.ng-binding {
	background: #0099FF !important;
	border-color: #0099FF !important;
}

button.btn.btn-sm.btn-success.pull-right.uib-close.ng-binding {
	background: #0099FF !important;
}


button.btn.btn-sm.btn-info.uib-datepicker-current.ng-binding:hover {
  background: #99CC00 !important;
}


button.btn.btn-sm.btn-danger.uib-clear.ng-binding:hover {
	background: #99CC00 !important;
}

button.btn.btn-sm.btn-success.pull-right.uib-close.ng-binding:hover {
	background: #99CC00 !important;
}

button.btn.btn-default.btn-sm.btn-info.active:hover {
	background: #99CC00 !important;
}

button.btn.btn-default.btn-sm:hover {
	background: #99CC00 !important;	
}