.nav-my-tab-custom {
  text-align: center;
  margin: 0 auto;
  display: block;
  border-bottom: 0;
  margin-top: 25px;
  float: right;
  @media (max-width: 768px){
    padding: 0 20px;
  }
  @media (max-width: 480px) {
    padding: 0px;
  }
  li {
    a {
      margin-right: 0;
      padding: 15px;
      border: solid 2px white;
      font-size: 20px;
      font-weight: 600;
      @media (max-width: 480px) {
        font-size: 15px;
      }
    }
  }
}

.my-activity-container {
  padding-top: 33px
}

.panel-no-border {
  border: transparent !important;
}

.wrapper-table-my-activity {
  .radio {
    position: absolute;
    bottom: -35px;
    right: -21px;

    @media (max-width: 768px) {
      right: -16px;
      bottom: -34px;
    }
  }

  .body-my-activity {
    width: 100%;
    float: left;
    border: solid 1px #7d7d7c;
    margin-bottom: 15px;
    
    .left {
      width: 70%;
      float: left;
      @media (max-width: 768px){
        width: 100%;
      }

      .left-picture {
        float:left;
        width: 25%;
        border: solid 1px #7d7d7c;
        position: relative;
        @media (max-width: 768px){
          width: 100%;
        }
      }

      .right-content-picture {
        float: left;
        width: 75%;
        @media (max-width: 768px){
          width: 100%;
        }
        p {
          // line-height: 97px;
          @media(min-width: 769px) and (max-width:1199px){
            line-height: 20px;
          }
          padding-left: 15px;
          font-size: 15px;
          font-weight: 300;
          margin-bottom: 0;
        }
        .title-upcoming {
          padding-left: 15px;
          padding-bottom: 19px;
          p {
            font-weight: bold;
          }
        }
        .blue-text {
          color: #2ba9f6;
          p {
            font-weight: bold;
          }
        }
        .green-text {
          color: #a8d525;
          p {
            font-weight: bold;
          }
        }
      }
    }

    .right {
      width: 30%;
      float: left;
      @media (max-width: 768px){
        width: 100%;
      }

      .box {
        width: 100%;
        float: left;

        p {
          color: #2ba9f6;
          text-align: center;
          margin-bottom: 0px;
        }
        .space p{
          color: #797979;
          text-align: center;
          margin-bottom: 0px;
        }
      }
    }
  }
}

.div-socmed-mini {
  text-align: center;
  @media (max-width: 768px) {
    margin: 20px 0px;
  }
  li {
    width: 25px;
    height: 25px;
    background: white;
    display: inline-block;
    border-radius: 50px;
    border: solid 1px $darkgray;
    color: $blue;
    cursor: pointer;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
    &:hover {
      background: $gray;
    }
    i {
      font-size: 13px;
      margin-top: 2px;
      padding-top: 3px;
    }
  }
}

.wrapper-checkbox {
    margin-bottom: 10px;
  }

  .wrapper-checkbox label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 30px !important;
    color: #bdc0cb;
  }

  .wrapper-checkbox label:before {
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 0px;
  }

  .wrapper-checkbox input[type=checkbox] {
    display: none;
  }

  .wrapper-checkbox .checkbox-custom label:before {
    background: asset-url("checkbox_normal.png") left center no-repeat;
  }

  .wrapper-checkbox input[type=checkbox]:checked + label:before {
    background: asset-url("Checkbox_selected.png") left center no-repeat;
  }

a.save-button {
  color: grey;
  display: block;
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
}

a.save-button.disable{
  color: #999;
  cursor: not-allowed;
}
.remove {
  width: 25px;
  height: 25px;
  background: white;
  display: inline-block;
  border-radius: 50px;
  border: solid 1px #797979;
  color: #2ba9f6;
  cursor: pointer;
  margin-right: 5px;
  position: absolute;
  z-index: 9;
  bottom: -13px;
}

a.link-remove {
  color: red;
}


.image-head {
  text-align: center;
  font-size: 1.4em;
}

.image-show{
  padding: 20px;
  margin: 20px 0 10px 0;
  border: 2px solid #cccccc;
}
.image-wrap{
  padding: 20px;
  border: 2px dashed #cccccc;
}
.image-wrap img{
  width: 100%;
}
.addImg-wrap .add-img{
  width: 31%;
  float: left;
  margin-right: 3.5%;
}
.addImg-wrap .add-img:nth-child(3){
  margin-right: 0;
}
.addImg-wrap .add-img img{
  width: 100%;
}
.green-button{
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 21px;
  width: 100%;
  text-transform: uppercase;
  background-color: #99CC66;
  padding: 5px 12px;
  margin: 8px 0;
  border-radius: 0;
  outline: none !important;
}

.button-custom {
  position: absolute;
  left: -32px;
  bottom: -14px;
  width: 0;
  height: 0;
  padding: 0;
  i {
    color: red;
  }
}

.button-custom-bookmark {
  position: absolute;
  left: -3px;
  bottom: 9px;
  padding: 0;
  i {
    color: red;
  }
}
.right-content-picture {
  a {
    float: left;
    width: 50%;
    padding-right:3px;
    img {
      width: 100%;
    }
  }
}