%div.modal.fade#check-pass-modal{role: 'dialog'}
  %div.modal-dialog
    %div.modal-active
      %div.modal-content
        %div.modal-header
          %h3= t(".authenticate_requied")
        %div.modal-body
          %p
            %span=t(".popup-description")
          = form_for "check-pass", :url => check_pass_home_index_path, method: "get" do
            .form-group
              %label.control-label=t(".password")
              =password_field(:check, :pass, size: 20)
            .form-group.group-check-button
              %button.ok-btn{type: "submit"}=t(".login")
              %button.cancel-btn{"data-dismiss" => "modal"}=t(".cancel")
.check-pass-dialog
  %a{"data-toggle"=>"modal", "href"=>"#check-pass-modal"}
    = image_tag("check_password_page.png", class: "img-responsive")