.container
  .row
    .col-md-12.col-lg-12
      .wrapper-activity#destination1
        .wrapper-select-activity
          .left
            .column-1
              .dropdown.genre-dropdown
                %button#dropdownMenu1.btn.btn-default.dropdown-toggle.show-highlight.dropdown-button-action{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  Genre
                  %span.caret
                %ul.dropdown-menu.search-filter-container{"aria-labelledby" => "dropdownMenu1"}
                  .input-search
                    .input-group
                      %input.form-control{:placeholder => "Search", :type => "text", "ng-model" => "searchText"}

                      %span.input-group-btn
                        %button.btn.btn-default{:type => "button"}
                          %span.btn-search-filter

                  %ul.radio-years
                    .scrollbar#custom-scroll-vertical
                      %span{"ng-repeat" => "genre in genres | filter: searchText"}
                        %li
                          .checkbox
                            .wrapper-checkbox
                              .checkbox-custom
                                %span
                                  %input{:name => "check", :type => "checkbox", :value => "check-years-{{genre.id}}", :id => "check-years-{{genre.id}}"}
                                  %label{:for => "check-years-{{genre.id}}"} {{genre.name}}

                  .wrapper-close-save
                    %a{:href => "javascript:void(0)"}
                      %span.btn-close-filter
                    %a.btn-save-continue{:href => "javascript:void(0)", "ng-click" => "searchClick([])"} Save & Continue

            .column-2
              %ui-select{"ng-model" => "selected.value", "theme" => "bootstrap", "on-select" => "price(selected.value)"}
                %ui-select-match{"placeholder" => "Price Range", "allow-clear" => "true"}
                  %span{"ng-bind" => "$select.selected.name"}
                }
                %ui-select-choices{:repeat => "item in (itemArray | filter: $select.search) track by item.range"}
                  %span{"ng-bind" => "item.name"}


          .right
            .column-1
              %input.form-control.show-highlight{:placeholder => "City", :type => "text", "ng-keydown" => "city($event, cityParams)", "ng-model" => "cityParams"}
            
            .column-2
              %ui-select{"ng-model" => "selected.region", "theme" => "bootstrap", "on-select" => "region(selected.region)"}
                %ui-select-match{"placeholder" => "State", "allow-clear" => "true"}
                  %span{"ng-bind" => "$select.selected.name"}
                }
                %ui-select-choices{:repeat => "region in (regionArray | filter: $select.search) track by region.code"}
                  %span{"ng-bind" => "region.name"}

            .column-3
              %input.form-control.show-highlight{:placeholder => "Zip Code", :type => "text", "ng-keydown" => "zipcode($event, zipcodeParams)", "ng-model" => "zipcodeParams"}

    .col-md-12.col-lg-12
      .wrapper-choose-distance
        .text-distance
          Choose Your Distance
        .sliding
          %input{:max => "10000", :min => "0", :step => "1", :type => "range", :value => "0"}
        .text-range
          .value
            %span 0
          %span mi

    .col-md-12.col-lg-12
      .wrapper-table-activity
        .head-activity
          .left
            .column
              .my-location
                %h4 My Location
            .column
              .share
                %h4
                  Share
                  %br
                  Activities
            .column
              .bookmark
                %h4
                  Bookmark
                  %br
                  Activities
            .column
              .most-popular
                %h4 Most Popular
          .right
            .column
              .off
                %h4 % Off
            .column
              .prices
                %h4
                  Prices
                  %br
                  From
            .column
              .spaces
                %h4 Spaces
        %span{"ng-repeat" => "activity in activities"}
          .body-activity
            .left
              .left-picture
                =image_tag ('img-default.jpg'), width:"100%"
                .radio
                  .wrapper-checkbox
                    .checkbox-custom
                      %span
                        %input#check1{:name => "check", :type => "radio", :value => "check1"}
                        %label{:for => "check1"}

              .right-content-picture
                %p {{activity.name}}
            .right
              .count.blue-box
                %p {{activity.discount_percent}} %
              .count.black-box
                %p $ {{activity.discount_price}}
              .count.green-box
                %p 9
      .arrow-down-loadmore
        %a{:href => "javascript:void(0)"}
          %span.social-icon.chevron-down