.container
  .row
    .col-md-12.col-lg-12
      .wrapper-activity
        .wrapper-select-activity
          .left
            .column-1
              .dropdown
                %button#dropdownMenu1.btn.btn-default.dropdown-toggle.show-highlight{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  Genre
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                  .input-search
                    .input-group
                      %input.form-control{:placeholder => "Search", :type => "text"}
                      %span.input-group-btn
                        %button.btn.btn-default{:type => "button"}
                          %span.btn-search-filter
                  %ul.radio-years
                    .scrollbar#custom-scroll-vertical
                      %li
                        .radio
                          .wrapper-checkbox
                            .checkbox-custom
                              %span
                                %input#check-years1{:name => "check", :type => "radio", :value => "check-years1"}
                                %label{:for => "check-years1"} 7-10 years old
                      %li
                        .radio
                          .wrapper-checkbox
                            .checkbox-custom
                              %span
                                %input#check-years2{:name => "check", :type => "radio", :value => "check-years2"}
                                %label{:for => "check-years2"} 7-10 years old


                  .wrapper-close-save
                    %a{:href => "javascript:void(0)"}
                      %span.btn-close-filter
                    %a.btn-save-continue{:href => "javascript:void(0)"} Save & Continue



            .column-2
              .dropdown
                %button#dropdownMenu1.btn.btn-default.dropdown-toggle.show-highlight{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  Price Range
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                  %li
                    %a{:href => "javascript:void(0)"} $2 - $25
                  %li
                    %a{:href => "javascript:void(0)"} $2 - $25

                  .wrapper-close
                    %a{:href => "javascript:void(0)"}
                      %span.btn-close-filter

          .right
            .column-1
              %input.form-control.show-highlight{:placeholder => "City", :type => "text"}
            .column-2
              .dropdown
                %button#dropdownMenu1.btn.btn-default.dropdown-toggle.show-highlight{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  Co
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                  %li
                    %a{:href => "javascript:void(0)"} Action
                  %li
                    %a{:href => "javascript:void(0)"} Another action
                  %li
                    %a{:href => "javascript:void(0)"} Something else here
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "javascript:void(0)"} Separated link
            .column-3
              %input.form-control.show-highlight{:placeholder => "Zip Code", :type => "text"}

    .col-md-12.col-lg-12
      .wrapper-choose-distance
        .text-distance
          Choose Your Distance
        .sliding
          .circle-slide
        .text-range
          102 mi

    .col-md-12.col-lg-12
      .wrapper-table-activity
        .head-activity
          .left
            .column
              .my-location
                %h4 My Location
            .column
              .share
                %h4
                  Share
                  %br
                  Activities
            .column
              .bookmark
                %h4
                  Bookmark
                  %br
                  Activities
            .column
              .most-popular
                %h4 Most Popular
          .right
            .column
              .off
                %h4 % Off
            .column
              .prices
                %h4
                  Prices
                  %br
                  From
            .column
              .spaces
                %h4 Spaces
        %span{"ng-repeat" => "activity in activities"}
          .body-activity
            .left
              .left-picture
                =image_tag ('img-default.jpg'), width:"100%"
                .radio
                  .wrapper-checkbox
                    .checkbox-custom
                      %span
                        %input#check1{:name => "check", :type => "radio", :value => "check1"}
                        %label{:for => "check1"}

              .right-content-picture
                %p {{activity.name}}
            .right
              .count.blue-box
                %p {{activity.discount_percent}} %
              .count.black-box
                %p $ {{activity.discount_price}}
              .count.green-box
                %p 9
      .arrow-down-loadmore
        %a{:href => "javascript:void(0)"}
          %span.social-icon.chevron-down