.wrapper-header
  %header
    .title-header
      .container
        .row
          .col-md-12.col-lg-12
            %h1
              are you in
              %span ?

    %ul#slider4.rslides{"data-slider-class-selector" => "rslides", "data-slider-refresh-on-watch" => "images", :slider => ""}
      -#%li{"ng-repeat" => "image in promotionhash.images", "ng-if"=>"image.length>= 1"}
        -#%img{:height => "42", :src => "{{image}}", :width => "42", "onError"=>"this.onerror=null;this.src='/assets/banner-img-1.jpg'"}
      %li
        =image_tag "banner-img-1.jpg"


    .button-bottom-header
      %a.btn-activity{:href => "#"} Find An Activity
      .arrow-bottom-header
        %a.first.scroll-down{:href => "#"}
          =image_tag "Slider_Arrowdown_LG.png", id: "arrow"

%ul#myTab.nav.nav-tabs
  %li.active
    %a{"data-target" => "#overview", "data-toggle" => "tab", "class" => "tabs-mod"} Overview
  %li
    %a{"data-target" => "#reveiw", "data-toggle" => "tab", "class" => "tabs-mod"} Reviews
  %li
    %a{"data-target" => "#booking", "data-toggle" => "tab", "class" => "tabs-mod"} Book It


.tab-content
  #overview.tab-pane.active
    .container
      .row
        .col-md-12.col-lg-12
          %h3.text-center {{promotionhash.promotion.name}}
          .col-md-2
            %div.w3-card-12{:style => "width:50%"}
              %img{:alt => "Norway", :src => "http://dummyimage.com/140x140/000/fff.png&text=test", :style => "width:100%"}/
              .w3-container.w3-center
                %p Image Title

          .col-md-10
            .col-md-12
              .col-md-4
                %p Ratings
                %br
                %p 3
              .col-md-2
                %p Reviews
                %br
                %p 3
              .col-md-2
                %p Spaces
                %br
                %p {{promotionhash.space}}
              .col-md-2
                %p Discount
                %br
                %p {{promotionhash.promotion.discount_percent}}
              .col-md-2
                %p Price From
                %br
                %p {{promotionhash.promotion.discount_price}}

            .panel-group
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", :href => "!#desc"} Description
                #desc.panel-collapse.collapse
                  .panel-body {{promotionhash.promotion.description}}

            .panel-group
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", :href => "!#share"} Share & Book Together
                #share.panel-collapse.collapse
                  .panel-body Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh huruf. Ia tidak hanya bertahan selama 5 abad, tapi juga telah beralih ke penataan huruf elektronik, tanpa ada perubahan apapun. Ia mulai dipopulerkan pada tahun 1960 dengan diluncurkannya lembaran-lembaran Letraset yang menggunakan kalimat-kalimat dari Lorem Ipsum, dan seiring munculnya perangkat lunak Desktop Publishing seperti Aldus PageMaker juga memiliki versi Lorem Ipsum.


            .panel-group
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", :href => "!#bring"} What To Bring
                #bring.panel-collapse.collapse
                  .panel-body {{promotionhash.promotion.bring_item}}

            .panel-group
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", :href => "!#location"} Location
                #location.panel-collapse.collapse
                  .panel-body 
                    .col-md-4
                      %p {{promotionhash.promotion.street_address_1}}
                      %p {{promotionhash.promotion.street_address_2}}
                      %p {{promotionhash.promotion.city}}
                      %p {{promotionhash.promotion.state}}
                    .col-md-8
                      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/view?zoom=11&center=-6.9175,107.6191&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU", :style => "border:0", :width => "400"}

            .panel-group
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", :href => "!#book"} I'm In! Book It!
                #book.panel-collapse.collapse
                  .panel-body
                    .col-md-12  
                      %p.input-group
                        %span.input-group-btn
                          %button.btn.btn-default{"ng-click" => "openDate()", :type => "button", "alt-input-formats" => "altInputFormats", "close-text" => "Close", "datepicker-options" => "dateOptions", "is-open" => "popup1.opened", "ng-model" => "dt", "ng-required" => "true", :type => "text", "uib-datepicker-popup" => "", "datepicker-options" => "dateOptions"}
                            %i.glyphicon.glyphicon-calendar
                    .col-md-12 
                      %div{"ng-model" => "eventSources", "ui-calendar" => "uiConfig.calendar", "calendar" =>"myCalendar", "class"=>"span8 calendar-overview"}



  #reveiw.tab-pane 
    .container
      .row
        .col-md-12.col-lg-12
          %h3.text-center {{promotionhash.promotion.name}}
          %h3.text-center {{name}}
          %div{"ng-if"=>"reviews == 0"}
            %a{:class => "rate", :href => "#", "data-target" => "#reviewModal", "data-toggle" => "modal", :onclick => "return false"} Rate Now
          .col-md-12
            #review{"ng-repeat" => "review in reviews"}
              .row  
                .rating
                  .col-md-3
                    %ng-rate-it{"ng-model" => "review.rating", "resetable"=> "false", "read-only" => "true"}
                    %span 
                  .col-md-7
                    %p {{review.user.user_name}}
                  .col-md-2
                    %a{:class => "rate", :href => "#", "data-target" => "#reviewModal", "data-toggle" => "modal", :onclick => "return false"} Rate Now
                .review-content
                  .col-md-12
                    %p 
                      {{review.content}}
    
  #booking.tab-pane 
    %h3.text-center {{promotionhash.promotion.name}}
    %div{"ng-model" => "eventSources", "ui-calendar" => "uiConfig.calendar", "calendar" =>"myCalendar", "class"=>"span8 calendar"}

#reviewModal.modal.fade{"aria-labelledby" => "reviewModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title THANKS FOR RATING YOUR EXPEIENCE!!!
      %form{"ng-submit"=>"submitForm()"}
        .modal-body
          .col-md-4 
            %img{:height => "42", :src => "{{promotionhash.image}}", :width => "42"}
          .col-md-8 
            %h3 {{promotionhash.promotion.name}}
            %ng-rate-it{"ng-model" => "reviewParam.rating", "resetable"=> "false", "ng-init"=> "reviewParam.rating= 2.5"}
          .col-md-12
            %textarea{ :cols => "50", :rows => "4", :name => "check", "ng-model" => "reviewParam.content"}
        .modal-footer
          %button.btn.btn-primary{:type => "submit"} SUBMIT


#fullCalModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only close
        %h4#modalTitle.modal-title
          %h3.text-center {{promotionhash.promotion.name}}
      #modalBody.modal-body
        .col-md-12
          .col-md-10
            %small.text-center Cost Per Person
            %p Regular Price $ {{promotionhash.promotion.price}}
            %p Discount Price $ {{promotionhash.promotion.discount_price}}
          .col-md-2
            %small.text-center Reserve Spaces
            %select#regularPrice{:name => "regularPrice", "ng-model" => "regularPrice", "ng-options" => "option for option in perDuration track by option", "ng-change"=> "updatePrice()"}
            %select#discountPrice{:name => "discountPrice", "ng-model" => "discountPrice", "ng-change"=> "updatePrice()", "ng-options" => "option for option in maximumBoking track by option"}
        .col-md-12
          %hr
          .col-md-10
            %p.text-right Total
          .col-md-2
            %p.text-right.total-price $ {{totalPrice}}
        .col-md-12
          .col-md-10
            %button.btn.btn-default{"id" => "help-popup", "data-placement" => "top", "data-toggle" => "tooltip", :title => "his deposit is refundable as a credit to your account that can be used for future bookings. Please be sure you understand the merchant’s cancellation policy. u-IN? is not responsible for any charges between customer and merchant.", :type => "button"} ?
            %p.text-right Deposit Due
          .col-md-2
            %p.text-right.deposit-due $ 999
        .col-md-12
          %hr
          %h5 Deposit are due at time of booking. FUll payment will be made at time of service with XXXXXXXX
      .modal-footer
        {{date_completed}}
        %button.btn.btn-primary{:type => "submit"} Im In Book it!
