.wrapper-header
  %header
    .title-header
      .container
        .row
          .col-md-12.col-lg-12
    %div{"ng-if"=>"toScreen.length >= 1"}
      %flex-slider{:after => "slideshow.after()", :animation => "slide", :before => "slideshow.before()", :end => "slideshow.end()", :slide => "s in toScreen", :start => "slideshow.start($slider)"}
        %li
          %img{"ng-src" => "{{s}}"}
    %div{"ng-if"=>"toScreen == 0"}   
      %flex-slider{:after => "slideshow.after()", :animation => "slide", :before => "slideshow.before()", :end => "slideshow.end()", :slide => "s in slides", :start => "slideshow.start($slider)"}
        %li
          %img{"ng-src" => "{{s}}"}

.nav-wrap-tabs
  .container
    %ul#myTab.nav.nav-tabs.nav-tab-custom
      %li
        %a{"data-target" => "#searchActivity", "data-toggle" => "tab", "class" => "tabs-mod"} Search Activities
      %li.active
        %a{"data-target" => "#myActivity", "data-toggle" => "tab", "class" => "tabs-mod"} My Activies

.tab-content
  #searchActivity.tab-pane
    .container
      .row
        .col-md-12.col-lg-12

  #myActivity.tab-pane.active.pane-custom
    .container.my-activity-container
      .row
        .col-md-12.col-lg-12
          .col-md-3.hidden-xs
            .form-group
              %div.w3-card-12
                %img{:alt => "Norway", :src => "http://dummyimage.com/140x140/000/fff.png&text=test", :style => "width:100%"}/
                .w3-container.w3-center.text-wrap.green-box
                  %p Image Title
                %p.mar-top-15
                  Lorem ipsum dolar set amet ipsum dolar set amet ipsum dolar set amet ipsum dolar set amet

            .form-group
              %div.w3-card-12
                %img{:alt => "Norway", :src => "http://dummyimage.com/140x140/000/fff.png&text=test", :style => "width:100%"}/
                .w3-container.w3-center.text-wrap.black-box
                  %p Image Title
                %p.mar-top-15
                  Lorem ipsum dolar set amet ipsum dolar set amet ipsum dolar set amet ipsum dolar set amet


          .col-md-9
            .row
              .panel-box.panel-group.clearfix
                .panel.panel-default
                  .panel-heading
                    %h4.panel-title
                      Upcoming
                  .panel-collapse.collapse.in
                    .wrapper-table-my-activity
                      %div{"ng-repeat" => "event in booking"}
                        .body-my-activity
                          .left
                            .left-picture
                              %a{:href => "/#/activities/{{event.promotion.id}}"}
                                %img{:src => "{{event.promotion.image}}", :width => "100%", "onError"=>"this.onerror=null;this.src='/assets/img-default.jpg'"}
                            .right-content-picture
                              .col-md-12
                                .row
                                  .title-upcoming
                                    %p {{event.promotion.name}}
                              .col-md-12
                                .row
                                  .col-md-5
                                    .blue-text
                                      %p SAVE {{event.promotion.discount_percent}} %
                                  .col-md-7
                                    .green-text
                                      %p NOW ONLY ${{event.promotion.discount_price}}
                          .right
                            .box.blue-box
                              .date-time
                                %p {{event.time}}
                              .space
                                %p 1 Space Left
                              .share
                                .div-socmed-mini
                                  %ul
                                    %li
                                      %i.fa.fa-book
                                    %li
                                      %i.fa.fa-facebook
                                    %li
                                      %i.fa.fa-instagram
                                    %li
                                      %i.fa.fa-twitter
                                    %li
                                      %i.fa.fa-linkedin
                                          


              .panel-box.panel-group.clearfix
                .panel.panel-default
                  .panel-heading
                    %h4.panel-title
                      My Bucket List
                  .panel-collapse.collapse.in
                    .wrapper-table-my-activity
                      %div{"ng-repeat" => "event in bookmark"}
                        .body-my-activity
                          .left
                            .left-picture
                              %a{:href => "/#/activities/{{event.promotion.id}}"}
                                %img{:src => "{{event.promotion.image}}", :width => "100%", "onError"=>"this.onerror=null;this.src='/assets/img-default.jpg'"}
                              .radio
                                .wrapper-checkbox
                                  .checkbox-custom
                                    %span
                                      %input{:id => "check-{{event.promotion.id}}", :name => "check", :type => "checkbox", :value => "{{event.promotion.id}}"}
                                      %label{:for => "check-{{event.promotion.id}}"}
                            .right-content-picture
                              .col-md-12
                                .row
                                  .title-upcoming
                                    %p {{event.promotion.name}}
                              .col-md-12
                                .row
                                  .col-md-5
                                    .blue-text
                                      %p SAVE {{event.promotion.discount_percent}} %
                                  .col-md-7
                                    .green-text
                                      %p NOW ONLY ${{event.promotion.discount_price}}
                          .right
                            .box.blue-box
                              .date-time
                                %p {{event.time}}
                              .space
                                %p 1 Space Left
                              .share
                                .div-socmed-mini
                                  %ul
                                    %li
                                      %i.fa.fa-book
                                    %li
                                      %i.fa.fa-facebook
                                    %li
                                      %i.fa.fa-instagram
                                    %li
                                      %i.fa.fa-twitter
                                    %li
                                      %i.fa.fa-linkedin

              .panel-box.panel-group.clearfix
                .panel.panel-default
                  .panel-heading
                    %h4.panel-title
                      My Past Life
                  %div{"ng-repeat" => "event in pastLife"}
                    .panel-collapse.collapse.in
                      .panel-body 
                        {{ event.promotion.name }}
                    .div-socmed-mini
                      %ul
                        %li
                          %i.fa.fa-book
                        %li
                          %i.fa.fa-facebook
                        %li
                          %i.fa.fa-instagram
                        %li
                          %i.fa.fa-twitter
                        %li
                          %i.fa.fa-linkedin