@import 'moduls/all.scss';
@import 'partials/all.scss';
@import 'plugin/all.scss';
@import 'pages/all.scss';

body {
  background-color: $gray;
}

.wrapper-main-container {
  // margin-top: 80px;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

p.link-custome.ng-binding {
  color: #000;

  &:hover,
  &:focus {
    color: #23527c;
  }
}

#white-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#white-placeholder::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#white-placeholder:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#white-placeholder:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.white-text {
  color: white !important;
}


//overview activities

a.tabs-mod {
  background-color: #2ba9f6;
}

//review

div#review {
  border: 1px solid gray;
  padding: 10px;
}

a.rate {
  color: #15fb15;
}


.ngrateit-rating {
  display: inline-block;
    overflow: hidden;
}

/* Reset button */
.ngrateit-reset{
    background-image: url("../assets/star/cancel-icon.svg");
    display: inline-block;
    background-position:  0 0;
}
.ngrateit-reset:hover{
    background-position:  0 100%;
}

/* star */
.ngrateit-star{
    display: block;
    float: left;
    overflow: hidden;
    background-repeat: repeat-x;
}

/* Background */
.ngrateit-bg-star{
    background-image: url("../assets/star/bg-star.svg");
}

/* Selected state */
.ngrateit-selected {
    background-image: url("../assets/star/rated-star.svg");
}

/* Cancelation of hover styling */
.ngrateit:not(.ngrateit-readonly) .ngrateit-rating span:hover ~ span {
    background-image: url("../assets/star/bg-star.svg");
}

/* Hover styling */
.ngrateit:not(.ngrateit-readonly) .ngrateit-rating:hover span {
    cursor: pointer;
    background-image: url("../assets/star/hover-star.svg");
}

.ng-invalid {
  color: red;
}