@import 'moduls/all.scss';
@import 'partials/all.scss';
@import 'plugin/all.scss';
@import 'pages/all.scss';

body {
  background-color: $gray;
}

.wrapper-main-container {
  // margin-top: 80px;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

p.link-custome.ng-binding {
  color: #000;

  &:hover,
  &:focus {
    color: #23527c;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

#white-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#white-placeholder::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#white-placeholder:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#white-placeholder:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.white-text {
  color: white !important;
}


//overview activities
#overview.tab-pane {
  .col-md-9 {
    display: inline-block;
    @media (max-width: 480px) {
      padding: 0px;
    }
  }
}
a.tabs-mod {
  background-color: #2ba9f6;
}

//review
#reveiw.tab-pane {
  background: #fff;
  h3.text-center {
    font-size: 30px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
    color: #7E7C7C;
    margin: 20px 0px 20px 0px;
  }
  .outer-review {
    display: inline-block;
    @media (max-width: 480px) {
      padding: 0px;
    }
  }
}
div#review {
  border: 2px solid #5C5C5C;
  padding: 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 18px;
  .rating-review {
    display: inline-block;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background: #797979;
    border-bottom: 2px solid #5C5C5C;
    .rate-stars {
      @media (max-width: 520px) {
        padding-left: 10px;
        padding-right: 0px;
        width: 32%;
      }
    }
    .col-md-6 {
      p {
        color: #fff;
        font-size: 18px;
        margin: 0px;
        margin-top: -4px;
        text-transform: capitalize;
        font-family: 'Helvetica', sans-serif;
        letter-spacing: 0.5px;
        text-align: center;
        @media (max-width: 520px) {
          font-size: 14px;
          margin-top: -1px;
        }
      }
    }
    .col-xs-6 {
      @media (max-width: 520px) {
        padding-left: 10px;
        padding-right: 0px;
        width: 40%;
      }
    }
    .rate-now {
      text-align: right;
      @media (max-width: 520px) {
        font-size: 13px;
        padding-right: 0px;
        padding-left: 10px;
        margin-top: 1px;
      }
    }
  }
  .review-content {
    display: inline-block;
    width: 100%;
    padding: 10px 0px 10px 0px;
    .review-text {
      font-size: 14px;
      font-family: 'Helvetica', sans-serif;
      letter-spacing: 0.5px;
    }
    .read-more {
      color: #51C2FB;
      font-size: 16px;
      margin-bottom: 0px;
      text-transform: uppercase;;
      letter-spacing: 0.5px;
    }
  }
}

a.rate {
  color: #15fb15;
  &:focus {
    outline: none;
  }
}


.ngrateit-rating {
  display: inline-block;
    overflow: hidden;
}

/* reviewModal */
#reviewModal {
  .modal-dialog {
    margin: 80px auto;
    max-width: 550px;
    .modal-content {
      border: 2px solid #15fb15;
      border-radius: 0px;
      background: #EEEEF0;
    }
    .modal-header {
      background: #0099FF;
      padding: 10px 15px;
      .modal-title {
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
      }
      .close {
        background-color: #000;
        opacity: 1;
        color: #fff;
        padding: 3px;
        margin-top: 2px;
        position: relative;
        width: 20px;
        height: 20px;
        span {
          text-align: center;
          position: absolute;
          top: -3px;
          right: 3px;
        }
      }
    }
    .modal-body {
      display: inline-block;
      padding-bottom: 5px;
      width: 100%;
      .wrap-content-rate {
        width: 90%;
        margin: 0 auto;
        display: block;
        .col-md-4 {
          width: 30%;
          margin-right: 15px;
          padding-right: 0px;
          .img-rating {
            width: 125px;
            height: auto;
            border: 1px solid #000;
            img {
              max-width: 100%;
            }
          }
        }
        .col-md-8 {
          padding: 0px;
          width: 65%;
          h3 {
            font-family: 'Helvetica', sans-serif;
            font-size: 24px;
            color: #656565;
            margin-top: 0px;
          }
        }
      }
      .col-md-12 {
        .wrap-comment {
          width: 90%;
          display: block;
          margin: 0 auto;
          margin-top: 20px;
          span {
            letter-spacing: 1px;
            color: #656565;
            font-family: 'Helvetica', sans-serif;
            text-transform: uppercase;
            float: left;
          }
          textarea {
            resize: inherit;
            width: 100%;
          }
        }
      }
    }
    .modal-footer {
      border: none;
      text-align: center;
      padding-top: 0px;
      .btn-submit {
        background: #0099FF;
        border-radius: 0px;
        border: 1px solid #000;
      }
    }
  }

}

/* Reset button */
.ngrateit-reset{
    background-image: url("../assets/star/cancel-icon.svg");
    display: inline-block;
    background-position:  0 0;
}
.ngrateit-reset:hover{
    background-position:  0 100%;
}

/* star */
.ngrateit-star{
    display: block;
    float: left;
    overflow: hidden;
    background-repeat: repeat-x;
}

/* Background */
.ngrateit-bg-star{
    background-image: url("../assets/star/bg-star.svg");
}

/* Selected state */
.ngrateit-selected {
    background-image: url("../assets/star/rated-star.svg");
}

/* Cancelation of hover styling */
.ngrateit:not(.ngrateit-readonly) .ngrateit-rating span:hover ~ span {
    background-image: url("../assets/star/bg-star.svg");
}

/* Hover styling */
.ngrateit:not(.ngrateit-readonly) .ngrateit-rating:hover span {
    cursor: pointer;
    background-image: url("../assets/star/hover-star.svg");
}

.nav-wrap-tabs {
  background: black;
}

.nav-tab-custom>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: black !important;
  border: solid 2px white;
}

.nav-tab-custom {
  text-align: center;
  margin: 0 auto;
  display: block;
  border-bottom: 0;
  margin-top: 25px;
  padding: 0 70px;
  @media (max-width: 768px){
    padding: 0 20px;
  }
  @media (max-width: 320px) {
    padding: 0px;
  }
  li {
    width: 33.3%;
    a {
      margin-right: 0;
      padding: 15px;
      border: solid 2px white;
      font-size: 20px;
      font-weight: 600;
      @media (max-width: 320px) {
        font-size: 15px;
      }
    }
  }
}

.text-wrap {
  padding: 15px;
  p{
    margin:0;
    padding: 0;
    text-align: center;
    font-weight: 600;
  }
  &.green-box {
    background: $green;
    p {
      color: black;
    }
  }
  &.black-box {
    background: $black;
    p {
      color: white;
    }
  }
  &.blue-box {
    background: $blue;
    p {
      color: white;
    }
  }
}

.mar-top-15 {
  margin-top: 15px;
}

.wrap-header-info {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.clearfix{
  clear: both;
}

.w-40{
  width: 40%;
}

.w-60{
  width: 60%;
}

.top-info-review {
  padding: 5px 10px;
  border:solid 1px black;
  float: left;
  width: 100%;
  .ratings {
    text-align: left;
  }
  .star-rate {
    color: $blue;
    text-align: right;
  }
  .ratings, .star-rate {
    float: left;
    font-size: 22px;
  }
}

.bottom-info-review {
  float: left;
  width: 100%;
  padding: 20px 10px;
  border:solid 1px black;
  margin-top: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  @media (max-width: 768px){
    margin-bottom: 15px;
  }
}

.pad-left-0 {
  padding-left: 0;
}

.pad-right-0 {
  padding-right: 0;
}

.pad-left-5 {
  padding-left: 2.5px;
}
.pad-right-5 {
  padding-right: 2.5px;
}

.rate-center {
  text-align: center !important;
  width: 100%;
  display: block;
}

.pane-custom {
  h1 {
    margin-bottom: 20px;
  }
}

.panel-box{
  border: solid 1px black;
  .panel {
    border-radius: 0;
    border: transparent;
  }
  .panel-heading {
    background: $darkgray;
    border-radius: 0;
    color: white;
    padding: 5px 10px;
    // border-bottom: solid 1px black;
  }
  .panel-body {
    border-top: solid 1px black !important;
    @media (max-width: 320px) {
      padding: 0px 10px;
    }
  }
  .panel-title{
    font-size: 30px;
    i {
      color: black;
    }
  }
}

.div-socmed {
  margin-top: 20%;
  text-align: center;
  @media (max-width: 768px) {
    margin: 20px 0px;
  }
  li {
    width: 50px;
    height: 50px;
    background: white;
    display: inline-block;
    border-radius: 50px;
    border: solid 1px $darkgray;
    color: $blue;
    text-align: center;
    cursor: pointer;
    margin-right: 7px;
    &:last-child{
      margin-right: 0;
    }
    &:hover {
      background: $gray;
    }
    i {
      font-size: 22px;
      line-height: 47px;
    }
  }
}

.ng-invalid {
  color: red;
}

.div-deals {
  display: inline-block;
  width: 100%;
  text-align: center;
  .btn-deals-green {
    padding: 15px;
    background: $green;
    color: white;
    display: inline-block;
    margin-top: 15px;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 20px;
    @media (max-width: 480px) {
      font-size: 18px;
      margin: 15px 0px;
    }
  }
  p {
    text-align: left;
  }
}
