@import 'moduls/all.scss';
@import 'partials/all.scss';
@import 'plugin/all.scss';
@import 'pages/all.scss';

body {
  background-color: $gray;
}

.wrapper-main-container {
  // margin-top: 80px;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

p.link-custome.ng-binding {
  color: #000;

  &:hover,
  &:focus {
    color: #23527c;
  }
}

#white-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#white-placeholder::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#white-placeholder:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#white-placeholder:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.white-text {
  color: white !important;
}


