%div{"ng-controller" => "PriceController"}
  %form{:name => "myForm"}
    %label{:for => "repeatSelect"} Repeat select:
    %select#repeatSelect{:name => "repeatSelect", "ng-model" => "data.model"}
      %option{"ng-repeat" => "option in data.availableOptions", :value => "{{option.id}}"} {{option.name}}
  %hr/
  %tt model = {{data.model}}
  %br/
