.col-lg-6.col-md-6.col-xs-6.btn-back
  = link_to promotions_path, class: "goto-list-promotion" do
    .btn.back_arrow#edit-btn-back
      %span= t("promotions.cancel")
.col-lg-6.col-md-6.col-xs-6.btn-continue.edit-btn-continue
  %button.btn{onClick: "$('.promotion-form').submit()"}
    %span= t("promotions.save")