%footer
  %ul
    %li
      = link_to t(".contact_us"), new_user_session_path
    %li
      = link_to t(".terms_of_service"), "/terms_of_service.html"
    %li
      = link_to t(".privacy_policy"), privacy_policy_home_index_path
    %li
      = link_to t(".faqs"), faqs_path