.wrapper-navigation
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        = link_to root_path, class: "navbar-brand" do
          =image_tag "uINlogo_white.png"
      #navbar
        %ul.nav.navbar-nav.navbar-center
          %li
            %a{:href => "javascript:void(0)"}
              %span.nav-icon.share
              %span.share-text Share
          %li
            %a{:href => "javascript:void(0)"}
              %span.nav-icon.dollar
              %span.dollar-text Operators Login

        %ul.nav.navbar-nav.navbar-right
          %li
            %a.dropdown-toggle-humberger{:href => "javascript:void(0)"}
              %span.nav-icon.menu-hamburger
            %ul.dropdown-humberger
              - if user_signed_in?
                - if current_user.admin?
                  %li.navbar-menu
                    =link_to t(".home"), root_path
                  %li.navbar-menu
                    =link_to t(".user_management"), users_path
                  %li.navbar-menu.temp_hide_i
                    =link_to t(".promotions"), promotions_path
                  %li.navbar-menu
                    =link_to t(".categories"), categories_path
                  %li.navbar-menu
                    =link_to t(".list_booked"), my_activities_path
                  %li.navbar-menu
                    =link_to t(".account_settings"), edit_user_registration_path
                  %li.navbar-menu
                    = link_to t(".faqs"), faqs_path
                - else
                  - if current_user.user_type == User::USER_TYPE[:merchant]
                    %li.navbar-menu
                    %li.navbar-menu
                      =link_to t(".promotions"), promotions_path
                    %li.navbar-menu
                      =link_to t(".calendar"), calendars_path
                    %li.navbar-menu
                      =link_to t(".profile"), edit_user_registration_path
                  - else
                    %li.navbar-menu
                      =link_to t(".home"), root_path
                    %li.navbar-menu
                      =link_to t(".my_activities"), my_activities_path
                    %li.navbar-menu
                      %a{:href => "/#/activities"} Activities
                    %li.navbar-menu
                      =link_to t(".account_settings"), edit_user_registration_path
                    %li.navbar-menu
                      =link_to t(".history"), history_v_moneys_path
              - else
                %li.navbar-menu
                  = link_to t(".sign_up"), auth_account_regis_path
                %li.navbar-menu
                  = link_to t(".sign_in"), new_user_session_path

.wrapper-header
  %header
    .title-header
      .container
        .row
          .col-md-12.col-lg-12
            %h1
              are you in
              %span ?

    %ul#slider4.rslides
      %li
        =image_tag "Slider_Main_Image_LG.png"
      %li
        =image_tag "Slider_Main_Image_LG.png"
      %li
        =image_tag "Slider_Main_Image_LG.png"

    .button-bottom-header
      %a.btn-activity{:href => "javascript:void(0)"} Find An Activity
      .arrow-bottom-header
        %a.scroll-down{:href => "#destination1"}
          =image_tag "Slider_Arrowdown_LG.png", id: "arrow"
